@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');
body,
html {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
.login-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.login-form {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: tan;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  height: 300px;
  position: relative;
  width: 500px;
  padding: 0;
}
.login-form div {
  width: 100%;
}
.login-form button,
.login-form input {
  display: block;
  margin: 0 auto;
  margin-block: 1rem;
}
.login-form input {
  padding: 0.25rem 0.5rem;
  width: 80%;
  border: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 1.5rem;
}
.login-form input:focus {
  border: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: none;
}
.login-form button {
  border: 0;
  border-radius: 10px;
  padding: 0.35rem 1.25rem;
  font-size: 0.85rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}
/*Home*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  color: #fff;
  z-index: 10;
}
.header p {
  margin-left: 1rem;
}
.header b {
  font-size: 1.25rem;
}
.logout {
  cursor: pointer;
  margin-right: 1rem;
}

/* Message Input */
.message-input-container {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  z-index: 10;
}
.message-input-container input {
  height: 2rem;
  width: 90%;
  padding: 0.25rem 0.5rem;
  border: 0;
  border: 1px solid #ccc;
}
.message-input-container button {
  width: 10%;
  border: 0;
  padding: 0.35rem 1.25rem;
  font-size: 0.85rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

/* Messages */

.chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}
.alg-end {
  flex-direction: row;
  align-items: flex-end;
}
.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: rgb(0, 120, 254);
  position: relative;
}

.mine .message.last:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: rgb(0, 120, 254);
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}
.sender {
  margin-right: 1rem;
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ccc;
  font-style: italic;
}
